/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    text-align: center;
    max-width: 1600px;
    width: 100%;
}

header h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
}

/* Gallery Layout */
.emoji-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    gap: 1rem;
    width: 85%;
    max-width: 1600px;
    background-color: #f8f8f8;
}

.emoji-item {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 120px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.emoji-item:hover {
    transform: scale(1.1);
    background-color: #f0f0f0;
}

.emoji-item span {
    font-size: 2.5rem;
}

.emoji-decimal {
    font-size: 0.9rem;
    color: #777;
    margin-top: 10px;
}

/* Copy on Click */
.emoji-item:active {
    background-color: #e0e0e0;
}